<h1>Welcome to MakerSquare Readit!</h1>

<h3><%= link_to "Submit a Link", new_link_path%></h2>


<h4>See what MKS is talking about...</h4>

<ul>
<% @links.each do |link|%>
	<li><%= link_to link.title, link %></li>
<% end %>
</ul>

<%= will_paginate @links %>